<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div fxLayout="column" fxLayoutAlign="space-between">
        <form [formGroup]="loginForm">
          <h5>Login</h5>
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input [class.is-invalid]="loginForm.get('nombre').touched && loginForm.get('nombre').invalid"
             type="text" class="form-control" placeholder="Nombre de usuario" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input [class.is-invalid]="loginForm.get('pass').touched && loginForm.get('pass').invalid"
             type="password" class="form-control" placeholder="Contraseña" formControlName="pass">
          </div>
          <button fxFill type="submit" (click)="comprobarLogin()" class="btn btn-primary" [disabled]="!loginForm.valid">Entrar</button>
        </form>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
