<nav id="navbar" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="home">Inicio</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="infoGeneral">¿Qué son?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="valorActual">Valor actual</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Criptomonedas</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">Bitcoin</a>
        <a class="dropdown-item" href="#two">Ethereum</a>
        <a class="dropdown-item" href="#three">Binance Coin</a>
        <a class="dropdown-item" href="#three">Cardano</a>
        <a class="dropdown-item" href="#three">Tether</a>
      </div>
    </li>
  </ul>
</nav>
