<app-nav></app-nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Las Criptomonedas</h1>
    <br>
    <div fxLayoutGap="1rem" fxLayoutAlign="center center">
      <img src="assets/bitcoinIcon.png" alt="">
      <img src="assets/ethereumIcon.png" alt="">
      <img src="assets/binanceCoinIcon.png" alt="">
      <img src="assets/cardanoIcon.png" alt="">
      <img src="assets/tetherIcon.png" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="parrafo">
        La criptomoneda o criptodivisa es un tipo de moneda digital que utiliza la criptografía para proporcionar un sistema de pagos seguro. Estas técnicas de cifrado sirven para regular la generación de unidades monetarias y verificar la transferencia de fondos. No necesitan de un banco central u otra institución que las controle.
        Las criptomonedas son un tipo de moneda digital, que son aquellas que no existen de forma física, pero que sirven como moneda de intercambio, permitiendo transacciones instantáneas a través de Internet y sin importar las fronteras. Otros tipos de moneda digital son las monedas virtuales (normalmente controlada por los desarrolladores), dinero electrónico y cupones de Internet.
        En el año 2009 apareció la primera criptomoneda completamente descentralizada, el Bitcoin, que fue creado por Satoshi Nakamoto junto con el software que lo sustenta (blockchain). A día de hoy no se sabe quién está detrás del nombre del creador. La aparición del bitcoin fue tan innovadora que los términos de criptomoneda y Bitcoin se funden en uno solo y es indistinto hablar de uno u otro.
        En nuestros días, han aparecido más criptomonedas basadas en la pionera Bitcoin, que se conocen como altcoins.
        Origen de las criptomonedas
        A través de la historia, ha habido múltiples medios de intercambio de bienes y servicios. Todos ellos han ido sufriendo evoluciones y cambios o, directamente, han desaparecido. Es el caso del  trueque o la utilización de materiales preciosos, los cuales dejaron paso al sistema que hasta la actualidad ha funcionado, los billetes y monedas.
        No obstante, en una época donde la tecnología cada día gana más y más terreno, se hace necesario un medio de intercambio más ajustado a los tiempos: la criptomoneda.
        A raíz del movimiento cypherpunk en los años 80, surgió la criptomoneda. Este arte defendía el uso extendido de escribir con claves secretas que tan solo podría entender quien supiese descifrarlas.
        Una década después, David Chaun crea Digicash para proporcionar un sistema centralizado de dinero electrónico que permitía transacciones más seguras y anónimas. En el mismo período, Adam Black propone Hashcash, un sistema para controlar el spam y los ataques de denegación de servicio.
        Aunque no sería hasta el 2009 cuando surgiese el Bitcoin, la primera criptomoneda completamente descentralizada.
        </p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        <h3>Características de una criptomoneda</h3>
        <p>Las principales características de las criptomonedas son:</p>
        <ul>
          <li>
            <h6>Criptografía</h6>
            <p>Utilizan técnicas de cifrado para realizar cobros y pagos seguros.</p>
          </li>
          <li>
            <h6>Descentralización</h6>
            <p>No necesitan ser controladas por ninguna institución.</p>
          </li>
          <li>
            <h6>No hay posibilidad de falsificación o duplicación</h6>
            <p>Un sistema criptográfico protege a los usuarios.</p>
          </li>
          <li>
            <h6>No hay intermediarios</h6>
            <p>Contacto directo persona a persona.</p>
          </li>
          <li>
            <h6>Las transacciones son irreversibles</h6>
            <p>Una vez se efectúe el pago, no hay posibilidad de cancelación.</p>
          </li>
          <li>
            <h6>Se pueden intercambiar por otras divisas.</h6>
          </li>
          <li>
            <h6>Privacidad de uso</h6>
            <p>No es necesario revelar tu identidad al hacer negocios.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <h3>Ventajas de las criptomonedas</h3>
        <p>Las ventajas principales que caracterizan a la criptomoneda son:</p>
        <ul>
          <li>
            <h6>Bajos costes de transacción, como consecuencia de la no presencia de intermediarios.</h6>
          </li>
          <li>
            <h6>Seguridad, pues cada moneda pertenece solo a su dueño.</h6>
          </li>
          <li>
            <h6>Transparencia, ya que las transacciones se incorporan en un registro de acceso libre.</h6>
          </li>
          <li>
            <h6>Se acumula en un espacio ínfimo como es un USB.</h6>
          </li>
        </ul>
    </div>
    <div class="col-sm">
      <h3>Desventajas de las criptomonedas</h3>
      <p>Las desventajas principales de las criptomonedas son:</p>
      <ul>
        <li>
          <h6>Volatilidad de sus precios.</h6>
        </li>
        <li>
          <h6>Falta de aceptación actual por algunas empresas.</h6>
        </li>
        <li>
          <h6>Al no necesitar un regulador como el Gobierno o el Banco Central y proporcionar privacidad pueden ser utilizadas para transacciones ilegales.</h6>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>¿Qué es el blockchain?</h3>
      <p class="parrafo">
        El Blockchain es un conjunto de tecnologías que permiten mantener un registro distribuido, descentralizado, sincronizado y muy seguro de la información que trabajan ordenadores y otros dispositivos, es decir, vendría a cumplir la función de un registro público en las operaciones digitales, ya que permite identificar a cada persona y dispositivo de forma única y almacenar y trazar esa identificación en todo momento. En cualquier caso, como otras tecnologías, será común utilizarla aunque sigamos sin conocer en detalle cómo funciona, tal como pasa, a modo de ejemplo, con los formatos MP3 o MP4.
        La gran ventaja de Blockchain es que permite registrar una transacción, contrato o cualquier otro tipo de actuación en internet de manera verificable, infalsificable y transparente, sin necesidad de que un tercero verifique su validez. Además, permite sumar a la cadena con la misma fiabilidad el historial de evolución que pueda tener ese acuerdo. Esto es extrapolable a cada pago, cada contrato, cada tarea, que tendrían un registro fehaciente. De ahí que sirva para mantener un archivo vivo de a quién pertenecen las monedas virtuales como el Bitcoin.
        </p>
    </div>
  </div>
</div>

