<nav id="navbar" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="home">Inicio</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#">¿Qué son?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Valor actual</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Criptomonedas</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">Bitcoin</a>
        <a class="dropdown-item" href="#two">Etherium</a>
        <!--<div role="separator" class="dropdown-divider"></div>-->
        <a class="dropdown-item" href="#three">Binance Coin</a>
        <a class="dropdown-item" href="#three">Cardano</a>
        <a class="dropdown-item" href="#three">Tether</a>
      </div>
    </li>
  </ul>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Las Criptomonedas</h1>
    <p class="lead">Criptomonedas más famosas:</p>
    <img src="assets/bitcoinIcon.png" alt="">
  </div>
</div>
