<div class="jumbotron">
  <h1 class="display-4">Bienvenido a la Crypto Guía</h1>
  <p class="lead">Aquí podrás encontrar información sobre el mundo de las criptomonedas.</p>
  <hr class="my-4">
  <p>Recuerda que el acceso premium te permite acceder a todas las caracteristicas de la Cripto Guía</p>
  <p class="lead" fxLayoutGap="0.5rem">
    <a class="btn btn-primary btn-lg" routerLink="/infoGeneral" role="button">Acceder</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="premium()">Acceso premium</a>
  </p>
</div>

<app-login *ngIf="premiumAccess"></app-login>
